<html>

<head>
  <%- include('../partials/head.ejs') %>
  <title>Borrar producto</title>
  <link rel="stylesheet" href="../../../css/delete.css">
</head>

<body>
  
  <header>
    <%- include('../partials/header.ejs') %>
  </header>

  <main>
    <h3 class="delete-title">¿Seguro quieres eliminar este producto?</h3>

    <form method="post" action="/products/delete/<%= planta.id %>?_method=DELETE">
      <div class="delete-content">

        <div>
          <img class="product-image" src="/Images/<%= planta.image %>" style="width:168px; height:200px"/>
        </div>

        <div class="info-product">
          <h4 class="title"><%= planta.name %></h4>
          <h4 class="description"><%= planta.descripcion %></h4>
        </div>
      </div>

      <button class="load-button" type="submit">Eliminar</button>
    </form>
  </main>

  <footer>
    <%- include('../partials/footer.ejs')  %> 
  </footer>
  
</body>
</html>

