<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="titulo">edit product</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
 
    <h1 class="titulo">Producto a Editar:  <%= productsId.title %></h1>
    <section class="formulario">
        <form action="/movies/update/<%= productsId.id %>" method="POST">
            <label for="title">Nombre </label>
            <p><input type="text" name="title" id="" value="<%= productsId.name %>" required></p>
            <label for="rating">Precio </label>
            <p><input type="number" name="rating" id="" value="<%= productsId.price %>" required></p>
            <label for="awards">Descripción </label>
            <p><input type="number" name="awards" id="" value="<%= productsId.description %>" required></p>
            <label for="release_date">Inventario </label>
            <p><input type="date" name="release_date" id="" value="<%= productsId.stock %> required"></p>
            <label for="length">Categoria</label>
            <p><input type="number" name="length" id="" value="<%= productsId.products_categories_id %>" required></p>
                     

            
            <br>
            <p> <button class="botonAgregar" type="submit">Actualizar</button>
        
            <a  class="botonVolver" href="/movies">Listado de Películas</a></p>
        </form>
    </section>
</body>

</html>