<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
        <title>Listado de productos</title>
        <link rel="stylesheet" href="../css/formLoad.css">
</head>

<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>

    <main>

        <div class="new-product">

            <h3>Crea un producto nuevo</h3>

            <form action="./create" method="post" enctype="multipart/form-data">

                <label for="name">Nombre del producto</label>
                <input class="icon-register" type="text" name="name" value=" <%= locals.oldBody ? oldBody.name : '' %> ">
                <% if (locals.mensajeDeError && mensajeDeError.name) { %>
                    <p class="error-message"> <%= mensajeDeError.name.msg  %> </p>
                <% } %>

           
                <label for="categoria">Tipo de producto</label>
                <label class="categories" for="categoria">
                    <input type="radio" name="categoria" value="1" id="Plantas">Plantas
                    <input type="radio" name="categoria" value="2" id="Macetas">Macetas
                    <input type="radio" name="categoria" value="3" id="Accesorios">Accesorios
                    <input type="radio" name="categoria" value="4" id="Sustratos">Sustratos
                </label>
             
                </label>
             

                <label for="precio">Descripción</label>
                <textarea class="icon-register" name="descripcion" value=" <%= locals.oldBody ? oldBody.descripcion : '' %> "></textarea>
                <% if (locals.mensajeDeError && mensajeDeError.descripcion) { %>
                    <p class="error-message"> <%= mensajeDeError.descripcion.msg  %> </p>
                <% } %>

                <label for="precio">Precio</label>
                <input class="icon-register" type="number" name="precio" value=" <%= locals.oldBody ? locals.oldBody.precio : '' %> ">
                <% if (locals.mensajeDeError && mensajeDeError.precio) { %>
                    <p class="error-message"> <%= mensajeDeError.precio.msg  %> </p>
                <% } %>

                <label for="cantidad">Cantidad</label>
                <input class="icon-register" type="number" name="cantidad" value=" <%= locals.oldBody ? locals.oldBody.cantidad : '' %> ">
                <% if (locals.mensajeDeError && mensajeDeError.cantidad) { %>
                    <p class="error-message"> <%= mensajeDeError.cantidad.msg  %> </p>
                <% } %>

                <label for="image">Imagen</label>
                <input class="icon-register" type="file" name="image" id="image" required>
                <% if (locals.mensajeDeError && mensajeDeError.image) { %>
                    <p class="error-message"> <%= mensajeDeError.image.msg  %> </p>
                <% } %>

                <label class="categories" for="disponible">Disponible
                    <input type="radio" name="disponible" value="Disponible">Sí
                    <input type="radio" name="disponible" value="No disponible">No
                </label>


                <button class="load-button" type="submit">Crear producto</button>
            </form>
        </div>

    </main>

    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>

</html>