<html>

<head>
    <title>Editando productos</title>
    <link rel="stylesheet" href="../../../css/formLoad.css">
</head>

<header>
    <%- include('../partials/header.ejs') %>
</header>

<body>

    <main>

        <div class="new-product">

            <h3>Editando producto</h3>

            <form method="post" action="/products/edit/<%= product.id %>?_method=PUT">

                <label for="name">Nombre del producto</label>
                <input class="icon-register" type="text" name="name" value="<%=product.name%>">

                <label for="categoria">Tipo de producto</label>
                <label class="categories" for="categoria">
                    <input type="radio" name="categoria" <%=product.products_categories_id == "Planta" ? "selected" : ""%> value="1">Plantas
                    <input type="radio" name="categoria" <%=product.products_categories_id == "Macetas" ? "selected" : ""%> value="2">Macetas
                    <input type="radio" name="categoria" <%=product.products_categories_id == "Accesorios" ? "selected" : ""%> value="3">Accesorios
                    <input type="radio" name="categoria" <%=product.products_categories_id == "Sustratos" ? "selected" : ""%> value="4">Sustratos
                </label>


                <label for="precio">Descripción</label>
                <textarea class="icon-register" name="descripcion"><%=product.description%></textarea>

                <label for="precio">Precio</label>
                <input class="icon-register" type="price" name="precio" value="<%=product.price%>">

                <label for="cantidad">Cantidad</label>
                <input class="icon-register" type="number" name="cantidad" value="<%=product.stock%>">

                <label for="image">Imagen</label>
                <input class="icon-register" type="file" name="image" id="image" <%=product.image%>>


                <button class="load-button" type="submit">Editar producto</button>
            </form>
        </div>

    </main>

</body>

<footer>
    <%- include('../partials/footer.ejs') %>
</footer>

</html>