<%- include('../partials/header.ejs') %>

<h1>Listado de plantas</h1>
<p>Probando JSON creado</p>

<a href="/products/create">Crear planta nueva</a>


<ul>
<!--   <% for( let i = 0; i < plantasList.length; i++ ) { %>
  <li>
    <a href="/products/<%= plantasList[i].id %>"><%= plantasList[i].name %> </a>
  </li>
  <% } %>  -->

<% plantasList.forEach(planta => { %>
 <li>
    <a href="/products/<%= planta.id %>"><%= planta.name %> </a>
    -
    <a href="/products/edit/<%= planta.id %>"> Editar  </a>
    -
    <a href="/products/delete<%= planta.id %>"> Eliminar </a>
 </li>
<% }) %>

</ul>