<%- include('../partials/header.ejs') %>

<head>
  <link rel="stylesheet" href="/css/listas-CRUD.css" />
</head>

<section class="main-section">

  <h3>---> Nuestras plantas disponibles</h3>

  <button class="main-button"><a class="font-color" href="/products/create">Crear nuevo producto</a></button>

  <ul>
    <% plantasList.forEach(planta => { %>
    <li>
      <a class="item" href="/products/<%= planta.id %>"><%= planta.name %> </a>
      
      <div>
        <%  if (locals.adminLogged) { %>
          <button class="other-buttons"> 
          <a class="item-button" href="/products/edit/<%= planta.id %>"> Editar </a>
          </button>
            
          <button class="other-buttons"> 
          <a class="item-button" href="/products/delete/<%= planta.id %>"> Eliminar </a>
          </button>
        <% } %>
      </div>

      <br>

    </li>
    <% }) %>
  </ul>

</section>

<footer>
  <%- include('../partials/footer.ejs')  %> 
</footer>
