<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("../partials/head.ejs") %> 
    <title>Productos</title>
    <link rel="stylesheet" href="/css/ProductDetail.css" />
  </head>
  <body>
    <div class="to-fix">
      <header>
        <%- include('../partials/header.ejs')  %> 
      </header>
    </div>

    <main>
      <div class="return">
        <li><p>Tu perfil</p></li>
      </div>
      <div class="product">
        <img
          class="user-image"
          src="../../../Images/<%= user.avatar %>"
          alt=""
          style="width:300px; height:300px"

        />
        <div class="user-info">
          <div class="name">
            <h2> <%= user.usuario %> </h2>
            <!-- <button class="add">♡ Agregar a favoritos</button> -->
          </div>

          <div class="description">
            <h3>Correo</h3>
            <p>
              <%= user.email %>
            </p>
          </div>
          <div class="description">
            <h3>Celular</h3>
            <p>
              <%= user.cel %>
            </p>
          </div>
          <div class="opinion">
            <h3>Editar usuarios</h3>
            <p>
              Holi
            </p>
          </div>
          <div class="opinion">
            <h3>Editar productos</h3>
            <p>
              Holi
            </p>
          </div>

          <div class="social">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-whatsapp"></i>
            <i class="fa-brands fa-instagram"></i>            
            <a class="Logout" href="/logout">Logout</a>
          </div>
        </div>
      </div>

      <div>
        <ul class="bottom-nav">
          <li class="bottom"><a class="label-btm" href="/index"><i class="fa-solid fa-house"></i></a></li>
              <li class="bottom"><a class="label-btm" href="/register"><i class="fa-solid fa-user"></i></a></li>
              <li class="bottom"><a class="label-btm" href="products/productList"><i class="fas fa-bars"></i></a></li>
              <li class="bottom"><a class="label-btm" href="/products/cart" class="user"><i class="fa-solid fa-cart-shopping"></i></a></li>
        </ul>
      </div>
    </main>

    <footer>
      <%- include('../partials/footer.ejs')  %> 
    </footer>
    
  </body>
</html>
