<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="titulo">edit User</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <figure>
        <img src="/Images/logo-blanco.png" alt="Logo Terra">
    </figure>
    <h1><%= User.title %> </h1>    
    <br>
    <p>NAME: <%= User.name %> </p>
    <p>SURNAME: <%= User.surname %> </p>
    <p>EMAIL: <%= User.email %> </p>
    <p>PHONE: <%= User.phone %> </p>
    <br>
    <section>
        <a class="botonModificar" href="../users/editMysql/<%= User.id %>">Modificar</a>
        <a class="botonBorrar" href="../users/deleteMysql <%= User.id %>">Borrar</a>
        <a class="botonVolver" href="../users/userListMysql.ejs">Usuarios</a>
    </section>

</body>

</html>