<html>

<head>
    <%- include('../partials/head.ejs') %>
        <title>Editando usuario</title>
        <link rel="stylesheet" href="/css/formLoad.css">
</head>

<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>


    <main>

        <div class="new-product">

            <h3>Editando usuario</h3>

            <form method="post" action="/users/edit/<%= user.id %>?_method=PUT" enctype="multipart/form-data">

                <label for="name">Nombre del usuario</label>
                <input class="icon-register" type="text" name="name" value="<%=user.name%>">

                <label for="surname">Apellido</label>
                <input class="icon-register" type="text" name="surname" value="<%=user.surname%>">

                <label for="email">email</label>
                <input class="icon-register" type="email" name="email" value="<%=user.email%>">

                <label for="phone">Telefono</label>
                <input class="icon-register" type="number" name="phone" value="<%=user.phone%>">

                <label for="avatar">Imagen</label>
                <input class="icon-register" type="file" name="avatar" id="image" <%=user.avatar%>>

                </label>

                <button class="load-button" type="submit">Editar usuario</button>
            </form>
        </div>

    </main>

    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>

</html>