<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Registro</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/register.css" />
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <header>
      <section class="nav-search">
        <ul class="nav-bar">
          <li><a class="label" href="/">Home</a></li>
          <li><a class="label" href="/products/list">Productos</a></li>
        </ul>
        <div class="form" action="#" method="get">
          <input
            class="input"
            type="text"
            readonly
            value="Buscar plantas y productos"
          />
          <span class="submit"
            ><i class="fa-solid fa-magnifying-glass"></i
          ></span>n
        </div>
          <div class="icon-user-cart">
            <!-- <a class="create" href="/products/create">Crear</a> -->
          <li>
            <% if (locals.userLogged) { %>
              <a class="label-icon3" href="/profile" class="user"
                ><i class="icon-header fa-solid fa-user"></i
              ></a>
              <% } else { %>
              <a class="label-icon3" href="/login" class="user"
                ><i class="icon-header fa-solid fa-user"></i
              ></a>
            <% } %>
          </li>
          <li>
            <a class="label-icon3" href="/products/cart" class="cart"
              ><i class="icon-header fa-solid fa-cart-shopping"></i
            ></a>
          </li>
        </div>
        </ul>  
      </section>

      <div>
        <ul class="bottom-nav">
          <li class="bottom"><a class="label-btm" href="/"> <i class="fa-solid fa-house"></i></a></li>
          <li class="bottom"><a class="label-btm" href="register"> <i class="fa-solid fa-user"></i></a></li>
          <li class="bottom"><a class="label-btm" href="../products/list" ><i class="fas fa-bars"></i></a></li>
          <li class="bottom"><a class="label-btm" href="../products/cart" class="user"><i class="fa-solid fa-cart-shopping"></i></a></li>
        </ul>
      </div>
  
  </header>

    <main>
      <section class="main-content">
        <div class="main-image-container">
          <!-- <img class="main-image" src="/Images/register-img.png" alt=""> -->
        </div>

        <div class="register">
          <a href="/index" class="logo"><img class="logo" src="/Images/logo-blanco.png" alt=""></a>

          <!-- <h3 class="form-title2">¡Crea tu cuenta!</h3> -->
          <h1 class="form-title">¡Creá tu cuenta!</h1>
        
          <form  action="./register" id="formRegister" method="post" enctype="multipart/form-data"> 
            <!-- action="/users/delete///%= users [i].id %>?_method=DELETE" -->

            <label class="icon-register">
              <i class="fa-solid fa-envelope"></i>
            <input id="casillaEmail" type="text" name="email" placeholder="Escribe tu e-mail" value="<%= locals.oldBody ? oldBody.email : '' %>" required/></label>
            <% if (locals.mensajeDeError && mensajeDeError.email) { %>
              <p class="error-message"> <%= mensajeDeError.email.msg  %> </p>
            <% } %>
            <% if(locals.errors && errors.email) { %>
              <p class="error-message"> <%= errors.email.msgregistered  %> </p>
            <% } %>

            
            <label class="icon-register">
              <i class="fa-solid fa-user"></i>
            <input id= "name" type="text" name="nombre" placeholder="Nombre" value="<%= locals.oldBody ? oldBody.nombre : '' %>"/></label>
            <% if (locals.mensajeDeError && mensajeDeError.usuario) { %>
              <p class="error-message"> <%= mensajeDeError.usuario.msg  %> </p>
            <% } %>

            <label class="icon-register">
              <i class="fa-solid fa-user"></i>
            <input id="apellido" type="text" name="apellido" placeholder="Apellido" value="<%= locals.oldBody ? oldBody.apellido : '' %>"/></label>
            <% if (locals.mensajeDeError && mensajeDeError.apellido) { %>
              <p class="error-message"> <%= mensajeDeError.apellido.msg  %> </p>
            <% } %>

            <label class="icon-register">
              <i class="fa-solid fa-lock"></i>
            <input id="contraseña"type="password" name="contraseña" placeholder="Contraseña" value="<%= locals.oldBody ? oldBody.contrasena : '' %>"/></label>
            <% if (locals.mensajeDeError && mensajeDeError.contrasena) { %>
              <p class="error-message"> <%= mensajeDeError.contrasena.msg  %> </p>
            <% } %>

            <!-- <label class="icon-register">
                <i class="fa-solid fa-check"></i>
            <input type="password" name="contraseña-conf" placeholder="Confirmar contraseña" required/></label> -->

            <label class="icon-register">
                <i class="fa-solid fa-mobile-screen"></i>
            <input id= "phone"type="cel" name="cel" placeholder="Celular" value="<%= locals.oldBody ? oldBody.cel : '' %>"/></label>
            <% if (locals.mensajeDeError && mensajeDeError.cel) { %>
              <p class="error-message"> <%= mensajeDeError.cel.msg  %> </p>
            <% } %>

            <label class="icon-register">
            <input class="input-image" type="file" name="avatar" id="avatar" placeholder="avatar"/></label>

            <button id="enviar" class="register-button" type="submit">Crear cuenta</button>

            <div class="errores">
              <ul></ul>
            </div>
          </form> 
        
          <div class="otros-login">
            <div class="registro">¿Ya tenés cuenta? <a class="link-sub" href="/users/login">Iniciá sesión</a></div>
          </div>

          <p class="with-love">
            Creado con <i class="fa-solid fa-leaf"></i> por e-Terra Team
          </p>
        </section>
      </div>
    </main>
    <script src="/js/index.js"
    type="text/javascript"
    ></script>
  </body>
</html>